# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


bin/
cxx11hello.opensdf
cxx11hello.sdf
cxx11hello.v12.suo
src/cxx11hello
*.d
cxx11hello.VC.VC.opendb
cxx11hello.VC.db

